<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="Queue:Uat" connectionString="Server=10.88.10.230;Database=queue_uat;User ID=sa;Password=p0werDba;Connection Timeout=3"/>
    <add name="Queue:Production" connectionString="Server=10.88.10.230;Database=queue;User ID=sa;Password=p0werDba"/>
    <add name="Queue:Anywheretogo" connectionString="Server=203.150.82.19\claimdi;Database=queue;User ID=claimdi;Password=claimdi.com"/>
  </connectionStrings>
</configuration>
